body{
background-color:#e0ebed;
}

h1{
font-size:50px;
color:#242727;
font-family:Arial;
text-align:center;
}

#training{
  padding-left:20px;
}


#about{
  text-align:center;
  font-style:italic;
}

h2{
  font-size:27px;
  background-color:#9ca6a6;
  padding-top:6px;
  font-family:Arial;
  padding-bottom:6px;
  padding-left:10px;
  color:#2a2a2a;
}

#company{
}

#education{

}

h4{
  padding-left:30px;
  font-family: Arial;
}